 @import "../../../Styles/color";
 .Hambargar{
    position: fixed;
    height: 100vh;
    background-color: $header;
    top: 0;
    left: 0;
    width: 100vw;
    ul{
        padding: torem(20px);
        display: flex;
        flex-direction: column;
        gap: torem(50px);
        justify-content: space-between;
        list-style: none;
        font-size: torem(25px);
    }
 }