@import "../../Styles/color";

.Skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: bbk;
    gap: torem(10px);
    text-align: center;
    will-change: transform;

    .icon {
        width: torem(40px);
        height: torem(40px);
    }

    p {
        font-size: torem(16px);
    }
}