  @import "../Styles/color";
  .page{
    height: calc(100vh - 17px);
  }


 
.span{
  display: inline;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  top: 0px;
  left: 0px;
  transform: rotate(0deg);
  font-size: torem(16px);
  text-shadow: none;
} 
.typewriter_div{
  position: relative;
  width: 100%;
}
.typewriter_Container{
  position: absolute;
  height: torem(200px);
  width: torem(400px);
  z-index: 10;
}


  //? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: toper(12);
  }
  .typewriter_Container{
    width: 100%;
  }

}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
  html {
    font-size: toper(15);
  }
}
/* Tablet 2 */
@media only screen and (min-device-width: 480px) and (max-device-width: 900px) {
  html {
    font-size: toper(10);
  }
}