@import "../../Styles/color";

.Header{
    background-color: $header;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    height: torem(60px);
    justify-content: space-between;
    position: sticky;
    z-index: 5000;
    padding: (20px);
    h1,.bx-menu{
        font-size: torem(30px);
    } 
    
}

  //? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
 .Header{
    height: torem(80px);
    justify-content: start;
    gap: 20px;
 }

}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
    .Header{
        height: torem(70px);
    }
}
