@import "../../Styles/color";

.Header{
    height: 50px;
    width: 100vw; 
    background-color: $header;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: sticky;
}