@import "../../../Styles/color";
.TextSide{
    display: flex;
    flex-direction: column;
    h1{
        font-size: torem(150px);
        font-family: bbc;
    }
    h2{
        font-size: torem(50px);
        font-family: bbk;
    }
}


  //? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .TextSide{
        width: 90%;
    }
   
   }
   /* Tablet */
   @media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
    
   }