@import "../../../Styles/color";
.PageHeading{
    font-family: bbc;
    padding: torem(20px) 0px;
    h1{
        font-size: torem(30px);
    }
    .lineOuter{
        width: 100%;
        height: torem(5px);
        background-color: gainsboro;
        overflow: hidden;
        div{
            height: 100%;
            width: 100%;
            background-color: red;
        }
    }
 }