@import "../../Styles/color";

.JourneyPage{
    overflow-x: hidden;
    padding: torem(10px);
    .JourneyPage__wrapper{
        height: 100vh;
        width: 400vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family:bbc;
    }
}
.loader{
    position: sticky;
    left: 0;
    right: 0;
    height: torem(5px);
    background-color: gray;
    width: calc(100vw - torem(40px));
    .progressBar{
        height: torem(5px);
        background-color: red;
        width: 0%;
    }
}

  //? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .loader{
        width: calc(100vw - torem(20px));
    }
   
   }
   /* Tablet */
   @media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
    
   }
   